czerwiec-2021/aplikacjaMobilna/bin/
czerwiec-2021/aplikacjaMobilna/obj/
czerwiec-2021/aplikacjaMobilna/*.user
czerwiec-2021/aplikacjaMobilna/*.suo
czerwiec-2021/aplikacjaMobilna/*.sln.ide


czerwiec-2021/aplikacjaMobilna/*.csproj.user
czerwiec-2021/aplikacjaMobilna/*.csproj.nuget.g.props
czerwiec-2021/aplikacjaMobilna/*.csproj.nuget.g.targets


czerwiec-2021/aplikacjaMobilna/*.log
czerwiec-2021/aplikacjaMobilna/*.tmp


czerwiec-2021/aplikacjaMobilna/.vscode/
czerwiec-2021/aplikacjaMobilna/.idea/
czerwiec-2021/aplikacjaMobilna/*.vs/


czerwiec-2021/aplikacjaMobilna/*.cache
czerwiec-2021/aplikacjaMobilna/*.pdb
czerwiec-2021/aplikacjaMobilna/*.mdb


czerwiec-2021/aplikacjaMobilna/**/platforms/
czerwiec-2021/aplikacjaMobilna/**/build/
czerwiec-2021/aplikacjaMobilna/**/bin/
czerwiec-2021/aplikacjaMobilna/**/obj/
czerwiec-2021/aplikacjaMobilna/*.apk
czerwiec-2021/aplikacjaMobilna/*.ipa


czerwiec-2021/aplikacjaMobilna/google-services.json
czerwiec-2021/aplikacjaMobilna/GoogleService-Info.plist


czerwiec-2021/aplikacjaMobilna/*.TestResults
czerwiec-2021/aplikacjaMobilna/TestResults/
czerwiec-2021/aplikacjaMobilna/*.trx


czerwiec-2021/aplikacjaMobilna/*.png
czerwiec-2021/aplikacjaMobilna/*.jpg
czerwiec-2021/aplikacjaMobilna/*.jpeg
czerwiec-2021/aplikacjaMobilna/*.gif
czerwiec-2021/aplikacjaMobilna/*.svg
czerwiec-2021/aplikacjaMobilna/*.bmp


czerwiec-2021/aplikacjaMobilna/*.ncb
czerwiec-2021/aplikacjaMobilna/*.sdf
czerwiec-2021/aplikacjaMobilna/*.opensdf
czerwiec-2021/aplikacjaMobilna/*.sln.docstates
